

/*attributes for layout*/



.container {
  max-width: 66%;
  
  margin: 3rem auto 6rem;
}






.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  
}

.backToHome:a {
	color:black;
	
	
}

