@media screen and (min-width: 600px) {

.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin-bottom: 4rem;
}

.headingXl {
  font-size: 4rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  
  
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
  border-bottom: solid #eee;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style:none;
  display: flex;
  flex-direction: row;
  margin: 0px;
  width: 100%;
  background-color: red;
}

.articleImage {
	
	margin-top: 5px;
	
}

.blogSection {
	
	
	display: flex;
	flex-direction: row;
	
	margin: 0px;
	
}

.pageWrapper {
	
	display: flex;
	flex-direction: column;
	
	
	
}

.blogArticle {
	
	border-bottom: solid #eee;
	
}

.blogWrapper {
	
	
	width: 100%;
	display: flex;
	flex-direction:column;
	align-content: left;
	
}

.listItem {
  
  margin: 0px;
  height: 100%;
 
  
}

.listLink {
	text-decoration: none; 
	color: black;
	font-size: 1.5rem;
	padding: 10px;
	margin: 0px;
	
	
}

.listLinkWrapper {
	margin: 10px;
	
	
}

.lightText {
  color: #666;
}

.blogAuthorDiv {
	
	display: flex;
	flex-direction: row;
	
}

.blogThumbWrapper {
	display:flex;
	flex-direction: column;
	margin: 1rem;
	width: 33%;
	border-style: none;
	border-radius: 7px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	overflow: hidden;
	
}

.blogThumbDiv {
	
	height: 60vh;
	
	
  
	
}

.blogThumbDiv:hover {
	
	
	cursor: pointer;
}

.blogAuthorName {
	margin: 5px;
	position: relative;
	top: 5px;
	
}

.BlogLinkDateStyle {
	
	width: 100%;
	
	color: #666;
	margin-left: 250px;
	font-size: 1rem;
	margin-bottom: 10px;
	
	
}

.BlogDateStyle {
	
	
	width: 80%;

	color: #666;
	position: relative;
	left: 105px;
	top: 10px;
	height: 100%;
	font-size: 1rem;
	text-align: right;
	
}

.BlogThumbImage {
	
	width: 100%;
	height: 45%;

}

.BlogText {
	
	font-size: 1.95rem;
	
}


.IntroText {
	
	text-align: center;
	
	
}

.FooterH4 {
	
	text-align: left;
	width: 38%;
	
}

.FooterDiv1 {
	
	width: 50%;
	display: flex;
	flex-direction: column;
	height: 100%
	
	
}

.FooterWrapper {
	height: 40vh;
	width: 100%;
	background-color: black;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0px;
}

.FooterDiv2 {
	
	height: 100%;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: right;
	color: white;
	
}

.FooterDiv2Text {
	
	position: relative;
	left: 48%;
	
	width: 50%;
	
}

.FooterDiv2Header {
	text-align: right;
	font-size: 4rem;
	margin: 0px;
}


.FooterSection {
	
	height: 100%;
	width: 64%;
	display: flex;
	flex-direction: row;
	position: relative;
	left: 18%;
	
	
}

.FooterListLink {
	
	color: white;
	margin-bottom: 10px;
	
	
}


.FooterList {
	
	display: block;
	
}

.FooterPosts {
	
	width: 100%;
	text-align: left;
	color: white;
	
	
}

.BlogLayout {
	
	display: flex;
	flex-direction: column;
	align-content: center;
	
	
}


.BlogPageDiv {
	
	display: flex;
	flex-direction: column;
	align-content: center;
	
	
}
}





@media screen and (max-width: 600px) and (min-width: 0px) {

.articleImage {
	
	margin-top: 5px;
	
}

.pageWrapper {
	
	display: flex;
	flex-direction: column;
	
	
	
}

.blogArticle {
	
	border-bottom: solid #eee;
	font-size: 1rem;
	
}

.blogWrapper {
	
	
	width: 100%;
	
	flex-direction:column;
	align-content: left;
	
}



.headingLg {
  font-size: 1rem;
  
  position: relative;
  
}


.borderCircle {
  border-radius: 9999px;
}

.list {
  list-style:none;
  display: flex;
  position: relative;
  left: -4rem;
  width: 100%
}

.blogSection {
	
	
	display: flex;
	flex-direction: row;
	align-content: center;
	
	
}

.BlogText {
	
	font-size: 1rem;
	
}

.listItem {
  
  
  
  
  
}

.listLink {
	text-decoration: none; 
	color: black;
	
	font-size: 1rem;
	
	
	
}

.lightText {
  color: #666;
}

.blogAuthorDiv {
	
	display: flex;
	flex-direction: row;
	
}

.blogThumbWrapper {
	display:flex;
	flex-direction: column;
	margin: 1px;
	width: 33%;
	border-style: none;
	border-radius: 7px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	overflow: hidden;
	
}

.blogThumbDiv {
	
	
	height: 100%;
	
  
	
}

.blogThumbDiv:hover {
	
	
	cursor: pointer;
}

.blogThumbLink {
	
	margin: 0px;
	
}

.blogAuthorName {
	margin: 10px;
	
	position: relative;
	top: 4px;
	font-size: 12px;
	
}

.BlogLinkDateStyle {
	
	
	text-align: right;
	color: #666;
	width: 100%;
	font-size: 0.6rem;
	
	
}

.BlogDateStyle {
	
	position: relative;
	height: 20%;
	left: 40px;
	top: 13px;
	text-align: right;
	width: 40%;
	
	color: #666;
	
	font-size: 12px;
	
	
}

.BlogThumbImage {
	
	
	

}


.IntroText {
	
	text-align: center;
	
	
}



.FooterSection {
	
	height: 110%;
	width: 100%;
	background-color: black;
	display: flex;
	flex-direction: row;
	
}

.FooterListLink {
	width: 50%;
	color: white;
	margin-bottom: 10px;
	font-size: 0.7rem;
	position: relative;
	left: 13px;
}


.FooterList {
	
	display: block;
	
}

.FooterPosts {
	
	position: relative;
	left: 15px;
	color: white;
	margin: 7px;
	
}

.FooterH4 {
	
	
	width: 60%;
	
}

.FooterDiv1 {
	
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	
}

.FooterWrapper {
	
	height: 300px;
	width: 100%;
	background-color: black;
	display: flex;
	flex-direction: row;
	align-items: center;
	
}

.FooterDiv2 {
	
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: right;
	color: white;
	
}

.FooterDiv2Text {
	
	position: relative;
	left: 25px;
	font-size: 0.8rem;
	width: 50%;
	
}

.FooterDiv2Header {
	width: 50%;
	position: relative;
	left: 25px;
	font-size: 1.5rem;
	margin: 0px;
}



.BlogLayout {
	
	display: flex;
	flex-direction: column;
	align-content: center;
	
	
}


.BlogPageDiv {
	
	display: flex;
	flex-direction: column;
	align-content: center;
	
	
}
	
	
	
	
}